[Unit]
Description=Sensor Block Code
After=network.target

[Service]
User=pi
Restart=no
Type=simple
# Required for pipenv
WorkingDirectory=/home/pi/
ExecStart=/usr/bin/python3 controller.py

[Install]
WantedBy=multi-user.target